{% load staticfiles %}
{% load static %}

{% load detail_vars %}


{% csrf_token %}
<html>

    <Title>
        Stock Tracker
    </title>

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        //~ setInterval(function() {
                  //~ window.location.reload();
                //~ }, 900000); 
    </script>
		
	<link rel="stylesheet" type="text/css" href="{% static 'stock_track/css/demo.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'stock_track/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'stock_track/css/reset.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'stock_track/css/text.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'stock_track/css/960.css' %}" />
	
<!--
	<meta http-equiv="refresh" content="900">

	<script>
		$("#procura").on("submit", function(event){     

		    // prevent form from being submitted
		    event.preventDefault();

		    // get value of text box using .val()
		    name = $("#procura_texto").val();

		    // compare lower case, as you don't know what they will enter into the field
		    
		    //name.toUpperCase()
		    window.location.href = "stock_track/get_ticker/"+name.toUpperCase());
		    
		});
	</script>
-->
  </head>

<body>
    

<div class="container_12">

	<div class="grid_1">
    <p></p>
	</div><!-- end .grid_1 -->
	<div class="grid_2">
	<br><a href="{% url 'index'%}">
        <img src="{% static 'stock_track/images/stock_track.png'%}" align="left" height="60"/>
           </a>
	</div><!-- end .grid_2 -->
	<div class="grid_6 prefix_3">    
        {% block user_zone %}
        {% endblock %}
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.first_name }}.</h1>
            Your last login was: {{ user.last_login}}
            <a href="/stock_track/logout/">Logout</a>
        {%elif  display_type == "Login" %}
        {% else %}
            <h1>Welcome, Guest!</h1>
            <p>Please ..
                <a href="/stock_track/register/" id="id_register">|Register|</a> or 
                <a href="/stock_track/login/" id="id_login">|Login|</a>
            </p>
        {% endif %}
        <div>
		    <form onSubmit="return checkAnswer();">
			  <input id="answer" type="text" maxlength="55" class="box" autofocus placeholder="Get detail by Ticker" />
			  <input type="submit" class="submit" value="Get Ticker" />
			  </form>
			  <script>
			  function checkAnswer(){
			      var response = document.getElementById('answer').value;
			      location = 'http://ycs2.yourcompusolutions.com:8000/stock_track/get_ticker/'+response; // 'right.html';
			      // if (response == "correctanswer")
			      //     location = 'http://jsbin.com/ukifoh/1'; // 'right.html';
			      // else
			      //     location = 'http://jsbin.com/ukifoh/2'; // 'wrong.html';
			      return false;
			  }
			  </script>
		</div>
    </div>
	<div class="clear"></div><!-- end upper menu bar -->
	
	<div class="grid_12">
	<div id="base_colored_bar"><br></div>
	</div><div class="clear"></div><!-- end blue bar -->
	
	<div id="container"  class="grid_12"><!--wrapper div-->
		
		<div id="sidebar" class="grid_1" >
		<!-- <div style="background:#0080CC;"><br> -->
		<div id="centered_link">
			<a href="/stock_track/" id="base_list" title="Index">
				<img src="{% static 'stock_track/images/Icon_list.png'%}"/></a>
			<BR>
			<a href="/stock_track/random_company/" id="base_random" title="Get Random Company">
				<img src="{% static 'stock_track/images/Icon_new.png'%}"/></a>
			<BR>
			<!-- <a href="{% url 'index' %}" id="base_reports" title="Reports">
				<img src="{% static 'stock_track/images/Icon_reports.png'%}"/></a>
			<BR>
			<a href="{% url 'index' %}" id="base_user_settings" title="User Settings">
				<img src="{% static 'stock_track/images/Icon_user_settings.png'%}"/></a> 
			<BR> -->
		</div>
		</div>
		
	
		
		<div id="content-block">
		
			
			<BR>
			<div id="template_content" class="grid_10">
            
            {% if user.is_authenticated or  display_type == "Register" %}
                {% block content %}
                {% endblock %}
            {%elif  display_type == "Login" %}
            {% else %}
                <h1>Guest Accounts are not authorized for access.</h1>
                <p>Please ..
                    <a href="/stock_track/register/" id="id_register">|Register|</a> or 
                    <a href="/stock_track/login/" id="id_login">|Login|</a>
                </p>
            {% endif %}
			
<BR>
			</div><!-- end .grid_1 -->
		
		
		</div>
	<div><!--endwrapper div-->
	<div class="clear"></div><!-- end content block  ######    --> 
	
</div><!-- end .container_12 -->

</body>
</html>
